<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Articlex | The only feed you ever need</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <style>
            body { font-family: "Open sans", sans-serif; padding: 0 120px; }
            h1 { text-align: center; padding-top: 20vh;}
            button { display: block; margin: 0 auto; padding: 12px 14px; background-color: crimson; color: white; text-decoration: none; text-transform: uppercase; font-weight: 600; border: none; }
            button:hover { color: black}
            a { text-decoration: none;}
        </style>
    </head>
<body>
    <h1>Ready to read the finest articles ever written?</h1>
    <a href="/articles">
        <button>Click to get your mind blown</button>
    </a>
</body>
</html>